
.vscode/settings.json
escape_fondation/game/cache/bytecode.rpyb
escape_fondation/game/cache/py3analysis.rpyb
escape_fondation/game/cache/screens.rpyb
escape_fondation/game/saves/navigation.json
escape_fondation/game/saves/persistent
escape_fondation/log.txt
